* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../images/pine.jpg);
    background-size: cover;
    backdrop-filter: blur(2px);
    position: relative;
}

.cover {
    height: 15rem;
    width: 30rem;
    backdrop-filter: blur(1px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-size: 4rem;
    letter-spacing: 10px;
    mix-blend-mode: overlay;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    font-size: 1.5rem;
}

ion-icon {
    cursor: pointer;
    border: 1px solid white;
    padding: .7rem;
    border-radius: 50%;
}

ion-icon[name = 'play'] {
    background: rgba(255, 255, 255, 0.2);
}


@media (max-width: 519px) {
    .cover {
        height: 10rem;
        width: 20rem;
    }
    h1 {
        font-size: 2.5rem;
        letter-spacing: 6px;
    }
}