.end-test {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.end-test a {
    padding: 1rem;
}

#timer {
    position: absolute;
    top: 1rem;
    right: 12rem;
    font-size: 1.7rem;
    background-color: white;
}

#timer p {
    padding: 1rem;
    color: #146C94;
    border: 1px solid #146C94;
}

#question {
    color: #146C94;
}

.choice-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid rgba(86, 165, 235, 0.25);
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(175, 211, 226);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    background-color: #146C94;
    color: white;
}

.choice-text {
    padding: 1.5rem;
    width: 100%;
}

.correct {
    background-color: #19602a;
}

.incorrect {
    background-color: #dc3545;
}

#hud {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    text-align: center;
    font-size: 2rem;
    color: #146C94;
}

.hud-main-text {
    text-align: center;
    color: #146C94;
}

#countdown {
    color: #146C94;
}