* {
    margin: 0;
    padding: 0;
    font-family: cursive;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

.app {
    position: relative;
    padding: 2rem;
}

.alert {
    padding: 1.5rem;
    padding-left: 3rem;
    position: relative;
    left: 27%;
    background: white;
    width: 50%;
    text-align: left;
    animation: show_slide 1s ease forwards;
    display: none;
    font-weight: bold;
}

@keyframes show_slide {
    0% {
        transform: translateX(100%);
    }
    40% {
        transform: translateX(-10%);
    }
    80% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-10px);
    }
}

#symbol {
    position: absolute;
    left: 3.5rem;
    top: 1.35rem;
}

#cancel {
    position: absolute;
    right: 0;
    top: 1.35rem;
    cursor: pointer;
}

.container {
    text-align: center;
}

h1 {
    color: #116A7B;
    padding: 3rem;
    text-align: center;
}

input {
    border: none;
    outline: none;
    padding: 1rem;
    border: 1px solid #7C9D96;
    width: 50%;
    font-size: 1rem;
    color: gray;
}

input:focus {
    border: 1px solid #E9B384;
}

button {
    border: none;
    outline: none;
    padding: 1rem;
    border: 1px solid #7C9D96;
    background-color: #7C9D96;
    font-size: 1rem;
    color: #eee;
    cursor: pointer;
}

button:focus {
    border: 1px solid #E9B384;
    background-color: #E9B384;
}

#tasks {
    margin: 0 auto;
    max-width: 70%;
    margin-top: 2rem;
}

#tasks li {
    text-align: start; 
    font-size: 1rem;
    padding: 1.5rem;
    padding-right: 5rem;
    list-style: none;
    background:#EEEEEE;
    margin: 3px 0;
    padding-left: 3rem;
    user-select: none;
    cursor: pointer;
    border: 1px solid #7C9D96;
    position: relative;
    text-wrap: wrap;
    word-wrap: break-word;
}

#tasks li:before {
    content: '';
    position: absolute;
    top: 33%;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 1px solid #7C9D96;
    margin-left: -2rem;
    cursor: pointer;   
}

.filters {
    margin: 0 auto;
    max-width: 55%;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.filters .left {
    display: flex;
} 

.filters .left li {
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.filters .left li:hover {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.filters .left .active {
    color: orange;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.filters .right {
    background-color: #f18629;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.filters .right:hover {
    background-color: orange;
}

.checked {
    color: #f18629;
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

.checked::before {
    background-image: url(./images//checked.png);
    background-size: cover;
    border: 1px solid #E9B384;
}

ion-icon {
    position: absolute;
    right: 1rem;
    top: 25%;
    font-size: 1.7rem;
}

.edit-icon {
    padding-right: 2.5rem;
}

.edit-icon:hover {
    color: #E9B384;
}

.delete-icon:hover {
    color: rgb(226, 0, 0);
}

@media (max-width: 740px) {
    .app {
        padding: 1rem;
    }

    #tasks {
        max-width: 100%;
    }

    .alert {
        left: 15%;
        width: 70%;
    }

    .filters {
        max-width: 100%;
    }
}

@media (max-width: 500px) {
    input {
        padding: .5rem;
        margin: 1rem 0;
        width: 100%;
    }
    button {
        padding: .5rem;
    }
    #tasks li {
        font-size: .85rem;
        padding: .85rem;
        padding-left: 2.2rem;
    }
    .edit-icon {
        font-size: 1.3rem;
        padding-right: 1.5rem;
    }
    .delete-icon {
        font-size: 1.3rem;
        padding-right: -1rem;
    }
    .filters {
        flex-direction: column;
    }
    .filters .left {
        margin-bottom: 2rem;
    }
    .filters .right {
        padding: 0.3rem 0.5rem;
    }
    ion-icon {
        right: 0.5rem;
    }
}